/* Start: Recommended Quicksand styles */

/*---------------------------------------------------- */
/* Quicksand styles */
/*---------------------------------------------------- */

.element img {
	height: auto;
}


/*---------------------------------------------------- */
/* Filter styles  */
/*---------------------------------------------------- */

#portfolio-options {
	position: relative;
	float: none;
	text-align:center;
	margin: 25px 10px 40px;
}
#filter.portfolio-filter {
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0 0 -1px 0;
}
#filter.portfolio-filter li {
	display: inline-block;
}
#filter.portfolio-filter li a {
display: block;
	text-align: left;
	color: inherit;
	background: #fff;
	border-bottom: 3px solid #e2e2e2;
	padding: 0 10px;
	margin: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#filter.portfolio-filter li a:hover,
#filter.portfolio-filter li a.selected {
	color: #FFF;
	background: #1EAAF1;
}
.portfolio-wrapper {
	position: relative;
	height: auto !important;
}
.portfolio-wrapper #container-inner {
	max-width: 100%;
	position: relative !important;
}

/* Portfolio Style 1 - Specific */

/* Portfolio Style 2 - Specific */
#portfolio-options.style2 #filter.portfolio-filter li a {
	color: #1e1e1e;
	background: none;
	border-bottom: 3px solid #1e1e1e;
	padding: 1px 12px;
	margin: 0 8px;
}
#portfolio-options.style2 #filter.portfolio-filter li a:hover,
#portfolio-options.style2 #filter.portfolio-filter li a.selected {
	color: #1EAAF1;
	border-color: #1EAAF1;
}

/*---------------------------------------------------- */
/* Hover styles  */
/*---------------------------------------------------- */

/* Set full width image for 1 column layout */
.column-1 .port-thumb img {
	width: 100%;
}

/* Portolio Hover */
.port-thumb,
.port-thumb li,
.port-thumb li  > a img,
.port-thumb img {
	display: block;
	position: relative;
}
.port-thumb li {
	padding: 0;
}
.port-thumb li article {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	top: 0;
	left: 0;
}
.port-thumb li article::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* Initial state classes: */
.port-thumb {
	text-align:center;
	margin: 0;
	padding: 0;
	height: auto !important;
}
.port-thumb > li > a,
.port-thumb iframe {
	display: block;
}
.port-thumb .entry-content {
	width:100%;
	display: inline-block;
	vertical-align: middle;
}
.port-thumb .entry-content a ,
.port-thumb .entry-content a:hover {
	color: white;
}
.port-thumb .entry-content em {
	display:block;
	color:#fff;
	margin-bottom:10px;
}
.port-thumb .entry-content img {
	display:inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px
	border-radius: 0px;
}


/*---------------------------------------------------- */
/* Hover effect  */
/*---------------------------------------------------- */

/* Image and article effect */
.port-thumb:hover .image-overlay.style2 .hover-link,
.port-thumb:hover .image-overlay.style2 .hover-zoom,
.port-thumb:hover .hover-link,
.port-thumb:hover .hover-zoom {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0)
}

/* Title effect */
.port-details {
	background: #fff;
	border-bottom: 3px solid #e2e2e2;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.port-details p,
.port-title,
.port-tags {
	margin: 0;
}
.port-title {
	font-size: 15px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.port-title a {
	color: inherit;
}
.port-title a:hover {
	color: #1EAAF1;
}
.port-details .more-link {
	margin: 35px 0 0;
}
.port-details .more-link a {
	padding: 8px 15px
}

/* Portfolio Style 1 - Specific */

/* Portfolio Style 2 - Specific */
.port-details.style2 {
	padding: 0;
	background: none;
	border: none;
}
.port-details.style2 p,
.port-details.style2 .port-tags {
	padding: 20px;
}

.port-thumb .entry-header .image-overlay.overlay2,
.port-thumb .entry-header .image-overlay.overlay2 {
	opacity: 0.9;
	bottom: -100%;
	top: auto;
	overflow: visible;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.port-thumb .entry-header:hover .image-overlay.overlay2,
.port-thumb .entry-header:hover .image-overlay.overlay2 {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.port-thumb .entry-header .image-overlay.overlay2 .port-details.style2 .port-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 60px;
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transform: translateY(-60px);
	-moz-transform: translateY(-60px);
	-ms-transform: translateY(-60px);
	-o-transform: translateY(-60px);
	transform: translateY(-60px);
}

/*---------------------------------------------------- */
/* Portfolio Slider & Featured Projects  */
/*---------------------------------------------------- */

#port-slider {
	padding: 20px 10px 5px;
}
#port-slider a.rslides_nav:hover {
}

#port-featured {
	padding: 0 10px;
}
#port-featured img {
	display: block;
}
#port-featured .port-title {
	color: #FFF;
	padding-top: 40px;
}
#port-featured .sc-carousel {
	padding: 0;
}
#port-featured .sc-carousel li {
	padding: 0 25px 0 0;
}
#port-featured .sc-carousel a.prev,
#port-featured .sc-carousel a.next {
	top: -25px;
}
#port-featured .sc-carousel a.next {
	right: 25px;
}
#port-featured .sc-carousel a.prev {
	left: auto;
	right: 65px;
}

/* Excerpt effect */


/* Link & lightbox image effect */